<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <img src="/Web-Development.jpg" alt="smoothie recipe icon">
    <h4>Web Development</h4>
    <p>Learn Full Web development in this single tutorial</p>
  </li>
  <li class="recipe">
    <img src="/Web-Development.jpg" alt="smoothie recipe icon">
    <h4>Web Development</h4>
    <p>Learn Full Web development in this single tutorial</p>
  </li>
  <li class="recipe">
    <img src="/Web-Development.jpg" alt="smoothie recipe icon">
    <h4>Web Development</h4>
    <p>Learn Full Web development in this single tutorial</p>
  </li>
  <li class="recipe">
    <img src="/Web-Development.jpg" alt="smoothie recipe icon">
    <h4>Web Development</h4>
    <p>Learn Full Web development in this single tutorial</p>
  </li>
  <li class="recipe">
    <img src="/Web-Development.jpg" alt="smoothie recipe icon">
    <h4>Web Development</h4>
    <p>Learn Full Web development in this single tutorial</p>
  </li>
  <li class="recipe">
    <img src="/Web-Development.jpg" alt="smoothie recipe icon">
    <h4>Web Development</h4>
    <p>Learn Full Web development in this single tutorial</p>
  </li>
</ul>

<%- include('partials/footer'); -%>